head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title= pkg.name + ' - ' + title
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=pkg.keywords.join(","))
  meta(name="description", content=pkg.description)

  meta(name="google-site-verification", content="lwrEeOSWYbJM6XftGRhLdTwsd5jKBAaegPsud8ldWmo")
  //
     Opengraph tags
  meta(property="og:image", content="/static/img/logo.jpg")
  meta(property="og:site_name", content="Hattira")
  - if (meetup)
    meta(property="og:title", content="#{meetup.title}")
    meta(property="og:description", content="#{meetup.description_short}")
    meta(property="og:url", content="/meetups/#{meetup.id}")
  - else
    meta(property="og:title", content=pkg.name + ' - ' + title)
    meta(property="og:description", content=pkg.description)
    meta(property="og:url", content=pkg.homepage)

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  link(href="http://fonts.googleapis.com/css?family=Cuprum|Dancing+Script", rel="stylesheet")
  link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet") 
  link(href="/static/css/datetimepicker.min.css", rel="stylesheet")
  link(href="/static/css/app.css", rel="stylesheet")
  //if lt IE 9
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
