mixin renderTags(meetup)
  if(meetup.tags)
    ul.list-inline
      each tag in meetup.tags.split(",")
        li
          a(href="/tags/#{tag}")
            i.fa.fa-tag
            | &nbsp;#{tag}

mixin renderContent(meetup)
  .visible-xs 
    div !{meetup.description}
  .hidden-xs
    .row
      .col-sm-8 !{meetup.description}
      .col-sm-offset-1.col-sm-3
        p.text-danger #{meetup.attending.length} attending.
        p.text-info #{meetup.venue}

mixin renderMeetup(meetup)
  .date.text-muted= formatDate(meetup.startDate)
  .content
    h3
      a(href='/meetups/'+meetup._id, title=meetup.title) #{meetup.title}
      -if (meetup.isFree)
        span.free.label.label-success free
    +renderContent(meetup)
    +renderTags(meetup)

mixin renderMeetups(meetups)
  - for (var i = 0; i < meetups.length; i++)
    .meetup.row.vspace-two
      +renderMeetup(meetups[i])

mixin renderDate(d1, fieldName)
  - if (d1)
    input.form-control(type='text',
        name=fieldName,
        value="#{d1.getFullYear()}-#{d1.getMonth()+1}-#{d1.getDate()} #{d1.getHours()}:#{d1.getMinutes()}",
        data-format="YYYY-MM-DD HH:mm")
  - else
    input.form-control(type='text',
        name=fieldName,
        data-format="YYYY-MM-DD HH:mm",
        placeholder="ex: 2014-04-24 17:00")
