mixin renderOne(second)
  .col-sm-6.col-xs-12.border-right
    .date.purple
      span.glyphicon.glyphicon-calendar.red
      | &nbsp;#{formatDate(second.startDate)}
    .content
      h3
        a(href='/meetups/'+second._id, title=second.title) #{second.title}
        -if (second.isFree)
          span.free.label.label-success free
      div !{second.description}
    .align-right.orange
      | #{second.venue}

mixin renderTwo(first, second)
  .meetup.row.vspace-two
    +renderOne(first)
    +renderOne(second)

mixin renderMeetups(meetups)
  - for (var i = 0; i <= meetups.length-2; i=i+2)
    +renderTwo(meetups[i], meetups[i+1])
  - if (i < meetups.length)
    .meetup.row.vspace-two
      +renderOne(meetups[i])
