extends ../layouts/default
include ../includes/mixins

block content
  - var action = '/meetups'
  - action += meetup.isNew? '/new' : '/' + meetup.id

  form.form-horizontal#event-form(method="post", action=action, enctype="multipart/form-data")
    fieldset
      input(type="hidden", name="_csrf", value="#{csrf_token}")
      legend= title

      - if (!meetup.isNew)
        input(type="hidden", name="_method", value="PUT")

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='title') Title
        .col-sm-9.col-xs-9
          input#title.form-control(type='text', name="title", value=meetup.title)
          span.help-block What is this event about?

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='desc') Description
        .col-sm-9.col-xs-9
          textarea.form-control(rows="12", name="description")= meetup.description
          span.help-block What is this event, why should people come and who should come.  You can use &nbsp;
            a(href="http://daringfireball.net/projects/markdown/", target="_blank") markdown.

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='website') Website
        .col-sm-9.col-xs-9
          input#website.form-control(type='text', name="website", value=meetup.website)
          span.help-block Does this event have a website?

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='meetupDate') Dates
        .col-sm-9.col-xs-9
          .col-sm-5.col-xs-12
            #startDate.input-group
              +renderDate(meetup.startDate)
              span.input-group-addon
                span.glyphicon.glyphicon-calendar
          .col-sm-1.hidden-xs
            strong to
          .col-sm-5.col-xs-12
            #endDate.input-group
              +renderDate(meetup.endDate)
              span.input-group-addon
                span.glyphicon.glyphicon-calendar

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='venue') Venue address
        .col-sm-9.col-xs-9
          input.form-control(type='text', name="venue-userinput", value=meetup.venue)
          input.form-control(type='hidden', name="venue", value=meetup.venue)
          div.help-block#venue-decode-success.hide
            span.glyphicon.glyphicon-ok-circle.text-success &nbsp;
            span.info 
          div.help-block#venue-decode-failure.hide
            span.glyphicon.glyphicon-exclamation-sign.text-danger &nbsp;
            | Unable to find venue details: &nbsp;
            span.info

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='tags') Tags
        .col-sm-9.col-xs-9
          input#tags.form-control(type='text', name="tags", value=meetup.tags)
          span.help-block Comma separated list of tags. Ex: python, web development, programming

      .form-group
        .checkbox.col-sm-offset-3.col-xs-offset-3
          label
            input(type='checkbox', name="isFree", value=meetup.isFree)
            | Is the entry to the event free?

      .form-group
        .col-sm-offset-3.col-xs-offset-3
          button.btn.btn-primary(type='submit')
            span.glyphicon.glyphicon-save
            | &nbsp; Save changes
          | &nbsp;
          a.btn.btn-default(href='/meetups', title="cancel")
            span.glyphicon.glyphicon-remove-circle
            | &nbsp; Cancel

block extra_js
  script.
    mixpanel.track('Event edit page')
  script.
    var geocoder = new google.maps.Geocoder()
   

    function updateLatLong(address) {
      console.log("updating:", address)
      geocoder.geocode({'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          var lat = $("<input>")
                      .attr("type", "hidden")
                      .attr("name", "latitude")
                      .val(results[0].geometry.location['d'])
          var lon = $("<input>")
                      .attr("type", "hidden")
                      .attr("name", "longitude")
                      .val(results[0].geometry.location['e'])
          $("form")
            .append($(lat))
            .append($(lon))
          $("#venue-decode-success .info").text(results[0].formatted_address)
          $("form input[name='venue']").val(results[0].formatted_address)
          $("#venue-decode-success").removeClass("hide")
          $("#venue-decode-failure").addClass("hide")
        } else {
          $("#venue-decode-failure .info").text(status)
          $("#venue-decode-failure").removeClass("hide")
          $("#venue-decode-success").addClass("hide")
        }
      })
    }

    $().ready(function() {
      
      if ("#{meetup.startDate}" !== "undefined") {
        updateLatLong("#{meetup.venue}")
      }

      $("form input[name='venue-userinput']").blur(function() {
        updateLatLong($(this).val())
      })
    })
