extends ../layouts/default

block content
  - var action = '/meetups'
  - action += meetup.isNew? '/new' : '/' + meetup.id

  form.form-horizontal#event-form(method="post", action=action, enctype="multipart/form-data")
    fieldset
      input(type="hidden", name="_csrf", value="#{csrf_token}")
      legend= title

      - if (!meetup.isNew)
        input(type="hidden", name="_method", value="PUT")

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='title') Title
        .col-sm-9.col-xs-9
          input#title.form-control(type='text', name="title", value=meetup.title)
          span.help-block What is this event about?

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='desc') Description
        .col-sm-9.col-xs-9
          textarea.form-control(rows="12", name="description")= meetup.description
          span.help-block What is this event, why should people come and who should come.  You can use &nbsp;
            a(href="http://daringfireball.net/projects/markdown/", target="_blank") markdown.

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='website') Website
        .col-sm-9.col-xs-9
          input#website.form-control(type='text', name="website", value=meetup.website)
          span.help-block Does this event have a website?

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='meetupDate') Happening on 
        .col-sm-9.col-xs-9
          #startDate.input-group.date.col-sm-6.col-xs-12
            - var d1 = meetup.startDate
            - if (d1)
              input.form-control(type='text', name="startDate",
                  value="#{d1.getFullYear()}-#{d1.getMonth()}-#{d1.getDay()} #{d1.getHours()}:#{d1.getMinutes()}",
                  data-format="YYYY-MM-DD HH:mm", placeholder="Start date and time")
            - else
              input.form-control(type='text', name="startDate",
                  data-format="YYYY-MM-DD HH:mm", placeholder="Start date and time")
            span.input-group-addon
              span.glyphicon.glyphicon-calendar
          #endDate.input-group.date.col-sm-6.col-xs-12
            - var d2 = meetup.endDate
            - if (d2)
              input.form-control(type='text', name="endDate",
                  value="#{d2.getFullYear()}-#{d2.getMonth()}-#{d2.getDay()} #{d2.getHours()}:#{d2.getMinutes()}",
                  data-format="YYYY-MM-DD HH:mm", placeholder="End date and time")
            - else
              input.form-control(type='text', name="endDate",
                  data-format="YYYY-MM-DD HH:mm", placeholder="End date and time")
            span.input-group-addon
              span.glyphicon.glyphicon-calendar

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='venue') Venue
        .col-sm-9.col-xs-9
          input.form-control(type='text', name="venue", value=meetup.venue)
          span.help-block Address for the event (excluding city, which is next)

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='city') City
        .col-sm-9.col-xs-9
          - if (meetup.city)
            input#citySearch.form-control.tt-query(type='text', name="city",
              value=meetup.city.id, autocomplete="off")
          - else
            input#citySearch.form-control.tt-query(type='text', name="city",
              autocomplete="off")

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='latitude') Latitude
        .col-sm-9.col-xs-9
          input.form-control(type='text', name="latitude", value=meetup.latitude)
          span.help-block Latitude of venue.  Find
            a(href='http://www.latlong.net/', target='_blank') &nbsp;here

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='longitude') Longitude
        .col-sm-9.col-xs-9
          input.form-control(type='text', name="longitude", value=meetup.longitude)
          span.help-block Longitude of venue.  Find
            a(href='http://www.latlong.net/', target='_blank') &nbsp;here

      .form-group
        label.col-sm-offset-1.col-xs-3.col-sm-2(for='tags') Tags
        .col-sm-9.col-xs-9
          input#tags.form-control(type='text', name="tags", value=meetup.tags)
          span.help-block Comma separated list of tags. Ex: python, web development, programming

      .form-group
        .checkbox.col-sm-offset-3.col-xs-offset-3
          label
            input(type='checkbox', name="isFree", value=meetup.isFree)
            | Is the entry to the event free?

      .form-group
        .col-sm-offset-3.col-xs-offset-3
          button.btn.btn-primary(type='submit')
            span.glyphicon.glyphicon-save
            | &nbsp; Save changes
          &nbsp;
          a.btn.btn-default(href='/meetups', title="cancel")
            span.glyphicon.glyphicon-remove-circle
            | &nbsp; Cancel

block extra_js
  script.
    mixpanel.track('Event edit page')
