extends ../layouts/default
include ../includes/mixins

block content
  include ../includes/marketing

  .container#loc-human.hide
    .pull-right Showing events around &nbsp;
      span.cursive.green.info

  .vspace-two
  - if (meetups.length)
    .col-sm-9.col-xs-12
      - if (meetups.length)
        h1= title
        +renderMeetups(meetups)

      - if (pages > 1)
        .pagination
          ul
            != createPagination(pages, page)
    .col-sm-offset-1.col-sm-2.col-xs-12
      include ./browse

  - else
    .vspace-two
    p.muted No events in your city yet.&nbsp;
      a(href="/meetups/new") Create one
    p Or see listing for &nbsp;
      a(href="/meetups/by-location/?lat=#{fallbackLatitude}&lon=#{fallbackLongitude}") #{fallbackCity}


block extra_js
  script.
    mixpanel.track('Event listing (index) page')
  script.
    var geocoder = new google.maps.Geocoder()
      , latlng = new google.maps.LatLng(#{loc.coordinates[1]}, #{loc.coordinates[0]})

    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          $("#loc-human .info").text(results[1].formatted_address);
          $("#loc-human").removeClass("hide");
        }
      }
    })
