extends ../layouts/default
include ../includes/mixins

block content
  include ../includes/marketing

  -if (req.city)
    -var city = req.city
    .city
      .pull-right Showing events in 
        span.cursive.green #{city.name}, #{city.state}, #{city.country.name}

  - if (upcoming.length || past.length)
    .row
      .col-sm-9.col-xs-12
        - if (upcoming.length)
          h2 Upcoming events
          - each meetup, index in upcoming
            +renderMeetup(meetup, index)(end=upcoming.length)

        - if (past.length)
          h2.vspace-two Past events
          - each meetup, index in past 
            +renderMeetup(meetup, index)(end=past.length)

        - if (pages > 1)
          .pagination
            ul
              != createPagination(pages, page)

      .span2.offset1
        include ./browse

  - else
    p.muted No events in your city yet.&nbsp;
      a(href="/meetups/new") Create one
    p Or see listing for &nbsp;
      a(href="/meetups/by-city/#{fallbackCityId}") Bangalore


block extra_js
  script.
    mixpanel.track('Event listing (index) page')
