extends ../layouts/default

block content
  include ../includes/marketing

  -if (area)
    .city
      .pull-right Showing upcoming events in #{area.city}, #{area.region_name}, #{area.country_name}
  h1= title
  - if (meetups.length)
    .row-fluid
      .span8
        - each meetup in meetups
          .meetup
            h3
              a(href='/meetups/'+meetup._id, title=meetup.title) #{meetup.title}
            p= meetup.description

            .muted
              - var name = meetup.user.name ? meetup.user.name : meetup.user.username
              | Created by &nbsp;
              a(href="/users/"+meetup.user._id)= name
              | &nbsp;on&nbsp;
              span= formatDate(meetup.createdAt)

              - if (meetup.tags)
                &nbsp; - &nbsp;
                - each tag in meetup.tags.split(',')
                  &nbsp;
                  a.tag(href="/tags/"+tag)
                    i.icon-tags
                    |  #{tag}

        - if (pages > 1)
          .pagination
            ul
              != createPagination(pages, page)

      .span1.vline

      .span3
        h3 Tags
        -each tag in tags
          a.tag(href="/tags/"+tag) #{tag}
          | &nbsp;,&nbsp;

        h3.vspace-two Cities near you
        p.vspace-one Coming soon
          

          
  - else
    p.muted No meetups.&nbsp;
      a(href="/meetups/new") create one
