extends ../layouts/default

block content
  include ../includes/marketing

  h3.vspace-four.align-center.row
    .col-md-offset-2.col-md-8#geoloc
      | This works best if you let us use your geolocation.
      | Please allow this setting at the top.
      | Alternatively, you can browse events for 
      a(href="/meetups/by-location/?lat=#{fallbackLatitude}&lon=#{fallbackLongitude}") #{fallbackCity}
      | &nbsp; before making up your mind.
    .col-md-offset-2.col-md-8#geoloc-error.hide
      | Oops!  There was an error determining your position.  Browse
      | events for 
      a(href="/meetups/by-location/?lat=#{fallbackLatitude}&lon=#{fallbackLongitude}") #{fallbackCity}
      | &nbsp; instead?

  .vspace-three &nbsp;


block extra_js
  script.
    mixpanel.track('Event listing (index) page')

  script.
    $().ready(function () {
      function failure(p) {}

      function success(p) {
        var geocoder = new google.maps.Geocoder()
          , lat = p.coords.latitude
          , lng = p.coords.longitude
          , latlng = new google.maps.LatLng(lat, lng);

        console.log(latlng)
        geocoder.geocode({'latLng': latlng}, function(results, status) {
          console.log(status, results);
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              var url = '/meetups/by-location/?lat='+lat+'&lon='+lng;
              var address = results[1].formatted_address;
              $('#geoloc').html("Show me events around - <a href="+url+">"+address+"</a>");
            } else {
              $('#geoloc').addClass('hide')
              $('#geoloc-error').removeClass('hide')
            }
          } else {
            $('#geoloc').addClass('hide')
            $('#geoloc-error').removeClass('hide')
          }
        })
      }

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(success, failure, {
          enableHighAccuracy: false
        })
      }
    })
