- if ((index % 3) == 0)
  <div class='row-fluid vspace-one'>

.meetup.span4
  .container-fluid
    .date
      - if ((meetup.startDate.getDate() == meetup.endDate.getDate()) && (meetup.startDate.getMonth() == meetup.endDate.getMonth()))
        | on
      - else
        | from
      &nbsp;#{formatDate(meetup.startDate)}
    h3
      a(href='/meetups/'+meetup._id, title=meetup.title) #{meetup.title}
      -if (meetup.isFree)
        span.free.badge.badge-success free
    div !{meetup.description}

    .attending
      a(href='/meetups/'+meetup._id) #{meetup.attending.length} attending

- if ((index % 3) == 2)
  </div>
