extends ../layouts/default

block main
      h1= meetup.title
        -if (meetup.isFree)
          span.free.badge.badge-success free
      -if (meetup.website)
        p.no-margin
          a(href="#{meetup.website}", target="_blank") #{meetup.website}
      p.no-margin
        | #{meetup.venue}, #{meetup.city}, #{meetup.state}, #{meetup.country}
      .orange
        = formatDatetime(meetup.startDate)
        | &nbsp;to&nbsp;
        = formatDatetime(meetup.endDate)

block content
  .row-fluid.vspace-two
    .span6
      p=meetup.description
      .meta.muted
        - if (meetup.user)
          - var name = meetup.user.name ? meetup.user.name : meetup.user.username
          p.no-margin
            | Created by &nbsp;
            a(href="/users/"+meetup.user._id)= name
            | &nbsp;on&nbsp;
            = formatDate(meetup.createdAt)
          - if (meetup.tags)
            p
              strong Tags: &nbsp;
              - each tag in meetup.tags.split(',')
                a.tag(href="/tags/"+tag)
                  i.icon-tags
                  |  #{tag}
                &nbsp;&nbsp;
          p
            | Attending:
            - each attendee in meetup.attending
              a(href="/users/"+attendee.user.id) &nbsp;#{attendee.user.name},

      - if (allowEdit)
        p
          br
          form.center.form-inline.confirm(action="/meetups/"+meetup.id, method="post")
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            a.btn(href='/meetups/'+meetup._id+'/edit', title="edit") Edit
            &nbsp;&nbsp;
            input(type="hidden", name="_method", value="DELETE")
            button.btn.btn-danger(type="submit") delete

      p
        br
        h3 Comments
        - each comment in meetup.comments
          include ../comments/comment
        include ../comments/form

    .span1.vline

    .span5
      - if (showAttending)
        .row-fluid
          .span6.offset3
            form(action="/meetups/"+meetup.id+"/attending", method="post")
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input(type="hidden", name="_method", value="PUT")
              input(type='submit', value="I'm attending").btn-primary.btn-block.btn-large
        #map-canvas.vspace-three
      - else
        #map-canvas

block extra_js
  script.
    mixpanel.track('Show event page')
    var address = {
      latitude: #{meetup.latitude},
      longitude: #{meetup.longitude},
      venue: "#{meetup.venue}"
    }
    showMap(address)
