extends ../layouts/default

block main
  h1= meetup.title

block content
  .row-fluid.vspace-two
    .span6
      p=meetup.description
      .meta.muted
        - if (meetup.user)
          - var name = meetup.user.name ? meetup.user.name : meetup.user.username
          p
            a(href="/users/"+meetup.user._id)= name
            &nbsp; - &nbsp;
            = formatDate(meetup.createdAt, "%b %d, %Y at %I:%M %p")
            - if (meetup.tags)
              &nbsp; - &nbsp;
              - each tag in meetup.tags.split(',')
                a.tag(href="/tags/"+tag)
                  i.icon-tags
                  |  #{tag}
                &nbsp;&nbsp;
      - if (allow_edit)
        p
          br
          form.center.form-inline.confirm(action="/meetups/"+meetup.id, method="post")
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            a.btn(href='/meetups/'+meetup._id+'/edit', title="edit") Edit
            &nbsp;&nbsp;
            input(type="hidden", name="_method", value="DELETE")
            button.btn.btn-danger(type="submit") delete

      p
        br
        h3 Comments
        - each comment in meetup.comments
          include ../comments/comment
        include ../comments/form

    .span1.vline

    .span5
      dl
        dt Venue
        dd= meetup.venue
        dt.vspace-one Start date &amp; time
        dd= meetup.startDate
        dt.vspace-one End date &amp; time
        dd= meetup.endDate
