extends ../layouts/default

block main
      h1= meetup.title
        -if (meetup.isFree)
          span.free.label.label-success free
      div#feedback-box.alert.hide
      -if (meetup.website)
        p.no-margin
          a(href="#{meetup.website}", target="_blank") #{meetup.website}
      p.no-margin
        | #{meetup.venue}, &nbsp;
        a(href='/meetups/by-city/#{meetup.city.id}') #{meetup.city.name}
        | &nbsp;, #{meetup.city.state}, #{meetup.city.country.name}
      .orange
        = formatDatetime(meetup.startDate)
        | &nbsp;to&nbsp;
        = formatDatetime(meetup.endDate)

block content
  .rowfluid.vspace-two
    .col-sm-6.col-xs-12
      p !{meetup.description}
      .meta.muted
        - if (meetup.user)
          - var name = meetup.user.name ? meetup.user.name : meetup.user.username
          p.no-margin
            | Created by &nbsp;
            a(href="/users/"+meetup.user._id)= name
            | &nbsp;on&nbsp;
            = formatDate(meetup.createdAt)
          - if (meetup.tags)
            p
              strong Tags: &nbsp;
              - each tag in meetup.tags.split(',')
                | &nbsp;
                a.tag(href="/tags/"+tag)
                  span.glyphicon.glyphicon-map-marker
                  | &nbsp;#{tag},
          p
            | Attending:
            - each attendee in meetup.attending
              a(href="/users/"+attendee.user.id) &nbsp;#{attendee.user.name},

      - if (allowEdit)
        p
          br
          form.center.form-inline.confirm(action="/meetups/"+meetup.id, method="post")
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            a.btn.btn-primary(href='/meetups/'+meetup._id+'/edit', title="edit")
              span.glyphicon.glyphicon-edit
              | &nbsp;Edit
            &nbsp;&nbsp;
            input(type="hidden", name="_method", value="DELETE")
            button.btn.btn-danger(type="submit")
              span.glyphicon.glyphicon-remove-circle
              | &nbsp;Delete

      p
        br
        h3 Comments
        - if (meetup.comments.length)
          - each comment in meetup.comments
            include ../comments/comment
        - else
          p.lead There are no comments for this event yet!
        .vspace-three
        include ../comments/form

    .col-sm-1.hidden-xs.vline

    .col-sm-5.col-xs-12
      - if (!showAttending)
        .row-fluid
          p.muted We will post a simple message on your wall saying you are attending this event
              | with a link to this event.  Helps you attend the event with friends!
          .span6.offset3
            form(action="#", id="share")
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input(type="hidden", name="meetup_id", value="#{meetup.id}")
              input(type='submit', value="Share on Facebook").btn-primary.btn-block
        .vspace-two

      - if (showAttending)
        .row-fluid
          .span6.offset3
            form(action="#", id="attending")
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input(type="hidden", name="meetup_id", value="#{meetup.id}")
              input(type='submit', value="I'm attending").btn-primary.btn-block.btn-large
          #map-canvas.vspace-three
      - else
        #map-canvas

block extra_js
  script.
    mixpanel.track('Show event page')
    var address = {
      latitude: #{meetup.latitude},
      longitude: #{meetup.longitude},
      venue: "#{meetup.venue}"
    }
    showMap(address)
