extends ../layouts/default

block main
  h1= meetup.title

block content
  .row
    .span9
      p=meetup.body
      .meta.muted
        - if (meetup.user)
          - var name = meetup.user.name ? meetup.user.name : meetup.user.username
          p Author -&nbsp;
            a(href="/users/"+meetup.user._id)= name
        p.muted= formatDate(meetup.createdAt, "%b %d, %Y at %I:%M %p")
        - if (meetup.tags)
          .tags
            - each tag in meetup.tags.split(',')
              a.tag(href="/tags/"+tag)
                i.icon-tags
                |  #{tag}
              &nbsp;&nbsp;
    .span3
      - if (!meetup.isNew && meetup.image && meetup.image.files && meetup.image.files.length)
        img(src=meetup.image.cdnUri + '/mini_' + meetup.image.files[0])

  p
    br
    form.center.form-inline.confirm(action="/meetups/"+meetup.id, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      a.btn(href='/meetups/'+meetup._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete

  p
    br
    h3 Comments
    - each comment in meetup.comments
      include ../comments/comment
    include ../comments/form
