extends ../layouts/default

block content
  .container
    .row.vspace-three
      .col-md-offset-3.col-md-3
        img(src="#{user.picture_large}").img-responsive.img-circle
      .col-md-6
        h3 Meetups posted by #{user.name}
        - if (meetups.length)
          ul.vspace-one
            - for meetup in meetups
              li
                a(href='/meetups/#{meetup._id}') #{meetup.title}
        - else
          p.vspace-two No meetups has been posted by #{user.first_name} yet!  

block extra_js
  script.
    mixpanel.track('User profile page')
